* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, serif;
}

header {
    background-color: #1F2937;
    display: flex;
    padding: 15px;
}

header h2 {
    margin-left: 150px;
    font-weight: 900;
    color: #F9FAF8;
}

nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 150px;
}

nav ul {
    font-weight: lighter;
    text-decoration: none;
}

nav li {
    float: left;
    list-style-type: none;
}

nav li a {
    margin-right: 20px;
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}

.top-section {
    background-color: #1F2937;
    height: 500px;
    align-items: center;
    display: flex;
}

div .description {
    color: #F9FAF8;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 350px;
}

.description h2 {
    font-size: 48px;
}

.description p {
    font-size: 18px;
}

.signup-button {
    margin-top: 20px;
}

.signup-button a {
    flex: 1;
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    padding: 6px;
    border-radius: 6px;
    padding: 5px 20px
}

.signup-button a:hover {
    background-color: #458bfc;
}

.image {
    margin-right: 150px;
}