* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: Helvetica, serif;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1F2937;
    display: flex;
    padding: 15px;
}

header h2 {
    margin-left: 150px;
    font-weight: 900;
    color: #F9FAF8;
}

nav {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-right: 150px;
}

nav ul {
    font-weight: lighter;
    text-decoration: none;
}

nav li {
    float: left;
    list-style-type: none;
}

nav li a {
    margin-right: 20px;
    color: #BAC0CA;
    font-size: 18px;
    text-decoration: none;
}

.top-section {
    background-color: #1F2937;
    height: 500px;
    align-items: center;
    justify-content: center;
    display: flex;
}

div .description {
    color: #F9FAF8;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 350px;
}

.description h2 {
    font-size: 48px;
}

.description p {
    font-size: 18px;
    color: #BAC0CA;
}

.signup-button {
    margin-top: 20px;
}

.signup-button a {
    flex: 1;
    background-color: #3882F6;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    padding: 5px 20px
}

.signup-button a:hover {
    background-color: #458bfc;
}

.image {
    display: flex;
    background-color: #6e747f;
    width: 500px;
    height: 230px;
    margin-right: 150px;
    justify-content: center;
    align-items: center;
}

.image p {
   color: #dbdee3;
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 0;
}

.main-content h2 {
    text-align: center;
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 50px;
    margin-top: 30px;
}

.boxes {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
}

.box-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 150px;
}

.box {
    width: 140px;
    height: 140px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 0px;
}

.subtext {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.quote {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    background-color: #E5E7EB;
    width: 100%;
    padding: 100px;
}

.quote .quote-text {
    margin-left: 180px;
    margin-right: 180px;
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
    color: #1F2937
}

.quote .author {
    margin-right: 220px;
}

.author p {
    display: flex;
    justify-content: end;
    font-weight: 900;
    font-size: 24px;
    color: #1F2937;
}

.end-signup {
    display: flex;
    justify-content: center;
    background-color: white;
}

.signup-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    min-width: 100%;
    height: 160px;
    margin: 80px 150px;
    padding: 0px 80px;
    border-radius: 6px;
}

.top-text {
    color: #F9FAF8;
    font-weight: bold;
    margin: 0;
    font-size: 20px;
}

.bottom-text {
    color: #D2D8E1;
    margin: 5px 0px 0px 0px;
}

.end-signup-button a {
    color: #F9FAF8;
    text-decoration: none;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    padding: 10px 60px;
    font-weight: 800;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    min-height: 80px;
}
section {
    flex: 1;
}

footer p {
    color: #F9FAF8;
}